
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

        <div sec:authorize="hasRole('ROLE_USER')">
    
            <nav th:replace="~{fragments/UsuarioHeader::UsuarioHeader}"></nav>
    
        </div>
    
        <div sec:authorize="hasRole('ROLE_ADMIN')">
    
            <nav th:replace="~{fragments/headerAdmin::headerAdmin}"></nav>
    
        </div>
    
     
        <div sec:authorize="isAnonymous()">

    
            <nav th:replace="~{fragments/menuSinRegistrar::menuSinRegistrar}"></nav>
    
        </div>
    
    
</header>

</body>
</html>
   
        