<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <ul th:fragment="menuAdmin" class="nav p-4">
            <li class="nav-item mb-5">
                <a th:href="@{/gestionUsuarios}">
                    <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Usuarios</button>
                </a>
            </li>
            <li class="nav-item mb-5">
                <a th:href="@{/gestionVehiculos}">
                    <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Gestión Vehículos</button>
                </a>
            </li>
            <li class="nav-item mb-5">
                <a href="../Panel de Control/index.html">
                    <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Pagos</button>
                </a>
            </li>
            <li class="nav-item mb-5">
                <a href="../Panel de Control/index.html">
                    <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Gestión Trabajadores</button>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
