<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:fragment="menuAdmin" class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-md-8 offset-md-2 ">
            <ul class="nav p-4 gap-4">
                <li class="nav-item mb-5">
                    <a th:href="@{/admin/gestionUsuarios}">
                        <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Gestión usuarios</button>
                    </a>
                </li>
                <li class="nav-item mb-5">
                    <a th:href="@{/admin/gestionVehiculos}">
                        <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Gestión vehículos</button>
                    </a>
                </li>
                <li class="nav-item mb-5">
                    <a th:href="@{/admin/gestionClases}">
                        <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Gestión clases</button>
                    </a>
                </li>
                <li class="nav-item mb-5">
                    <a th:href="@{/admin/gestionProfesores}">
                        <button class="btn btn-outline-dark bg-danger text-white  btn-block my-2">Gestión profesores</button>
                    </a>
                </li>
            </ul>
            </div>
            
        </div>
       
    </div>
    
    
    
</body>
</html>
