<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg bg-danger navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#">
                <img src="../../static/img/Drive.png" th:src="@{/img/Drive.png}" alt="Logo" width="75" />

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="../Principal/principal.html">Inicio <span
                                class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#modalFormulario"
                            href="#">Servicios</a>
                    </li>
                </ul>
                <div class="d-flex">

                    <div class="text-center">
                        <button class="btn btn-outline-light me-4" type="submit" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Iniciar sesión</button>
                        <button class="btn btn-outline-light me-4" type="submit" data-bs-toggle="modal"
                            data-bs-target="#registerModal">Crear Cuenta</button>
                    </div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-light me-4" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>