<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>
<body>
	
    <nav th:fragment="UsuarioHeader" class="navbar navbar-expand-lg bg-danger navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#">
                <img src="../../static/img/Drive.png" th:src="@{/img/Drive.png}" alt="Logo" width="75" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-white" th:href="@{/}">Inicio <span
                                class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/PlantillaClasesVehiculo}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/sobreNosotros}">Sobre Nosotros</a>
                    </li>
                    
                </ul>
               
                
                <div>
                    <div>
                        <a th:href="@{/mostrarClases}" class="btn">
                            <span class="text-white">Mis Clases</span>
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a th:href="@{/mostrarPerfil}" class="btn">
                            <span class="text-white">Mi Perfil</span>
                        </a>
                    </div>
                </div>
                
                <div>
					<form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;">
					    <button type="submit" id="logoutButton" class="btn btn-outline-light me-4" style="border-color: white;">
					        Cerrar Sesión
					    </button>
					</form>
					
					<a href="#" onclick="document.getElementById('logoutForm').submit(); return false;" style="color: white; text-decoration: none;">Cerrar Sesión</a>
				</div>

                
            </div>
        </div>
    </nav>
</body>
</html>