<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romnas Driving - La Historia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header th:replace="~{fragments/Header::Header}"></header>

    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1>Romans Driving: La Historia de una Autoescuela de Éxito</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>En la pequeña ciudad de Valle Verde, situada entre colinas y campos de girasoles, había una necesidad urgente de una autoescuela que pudiera satisfacer las demandas de una comunidad en crecimiento. Fue entonces cuando Román y Nasira, dos amigos apasionados por la educación vial y la seguridad en la carretera, decidieron unir fuerzas para crear "Romnas Driving".</p>
                <p>Román, un ex-piloto de carreras con años de experiencia, y Nasira, una ingeniera de transporte especializada en seguridad vial, combinaron sus habilidades y conocimientos para ofrecer una formación integral en conducción. Su misión era clara: formar conductores responsables y seguros, capaces de enfrentar cualquier situación en la carretera.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img th:src="@{/img/permiso-b-para-coche.png}" alt="Imagen de un coche" width="100%">
                    <div class="card-body">
                        <h5 class="card-title">Licencia de Coche</h5>
                        <p class="card-text">Romans Driving se ganó rápidamente una reputación en la ciudad por su enfoque meticuloso en la formación de conductores de coches. Con simuladores de última generación y un circuito de prácticas diseñado para replicar situaciones reales de conducción, los estudiantes podían aprender en un entorno seguro antes de salir a la carretera.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img th:src="@{/img/permiso-para-moto.png}" alt="Imagen de una moto" width="100%">
                    <div class="card-body">
                        <h5 class="card-title">Licencia de Moto</h5>
                        <p class="card-text">La autoescuela también se especializó en la formación de conductores de camion. Nasira, con su conocimiento en ingeniería de transporte, diseñó un programa completo que incluía prácticas en diferentes tipos de moto y rutas. Los estudiantes aprendían no solo a manejar vehículos grandes, sino también a gestionar situaciones complejas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img th:src="@{/img/carnet-de-camion-permiso-c.png}" alt="Imagen de un camion " width="100%">
                    <div class="card-body">
                        <h5 class="card-title">Licencia de Camion</h5>
                        <p class="card-text">Para los amantes de las 4 ruedas, Romnas Driving ofrecía un curso especializado en conducción de autobuses. Román, un entusiasta de los camiones, se encargaba personalmente de estas clases. El curso incluía desde las técnicas básicas hasta maniobras avanzadas, asegurando que los camioneros estuvieran bien preparados para cualquier desafío en la carretera.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>A lo largo de los años, Romas Driving no solo se convirtió en la autoescuela más confiable de Valle Verde, sino también en un pilar de la comunidad. Organizaron talleres de seguridad vial en escuelas y campañas de concienciación en la ciudad. La autoescuela también ofrecía becas para aquellos que no podían permitirse las clases, asegurando que todos tuvieran la oportunidad de aprender a conducir de manera segura.</p>
                <p>El éxito de Romnas Driving se basó en su dedicación a la educación de calidad y su compromiso con la seguridad vial. Román y Nasira continuaron innovando y adaptándose a los nuevos desafíos del transporte, siempre con la vista puesta en hacer de Valle Verde un lugar más seguro para todos los conductores.</p>
                <p>Así, la autoescuela Romnas Driving dejó una huella imborrable en la comunidad, demostrando que con pasión y dedicación, se pueden lograr grandes cosas y salvar vidas en el proceso.</p>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer::pie}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+k+Y5tyiY2z+6ZoEldZ3ZhL1/8EmP2Y/pLpd+H6NAST9xoxKd5+R4y5BArCn5Q" crossorigin="anonymous"></script>
</body>
</html>