body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: green;
  }
  .fondo {
    background-color: green;
    background-position: top;
    color: rgb(255, 255, 255);
  }
  
  p {
    font-size: 20px;
  }
  
  span {
    font-size: 30px;
  }
  
  
  