<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Profesores</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>

<body>
    <header th:replace="~{fragments/Header::Header}"></header>
    </nav>
    <div th:replace="~{fragments/menuAdmin::menuAdmin}"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="mt-3 text-center py-4 ">

                <ul class="d-flex list-unstyled justify-content-center">
                    <li class="me-2">
                        <a th:href="@{/admin/gestionProfesores}" class="btn btn-outline-dark text-decoration-none bg-danger text-white">Profesores Activos</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/profesoresAntiguos}" class="btn btn-outline-dark text-decoration-none bg-danger text-white">Profesores Antiguos</a>
                    </li>
                </ul>

            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-danger text-white text-center">Profesores Antiguos</div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha Alta</th>
                                            <th>Fecha Baja</th>
                                            <th>Id</th>
                                            <th>Apellidos</th>
                                            <th>Nombre</th>
											<th>Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="profesor : ${profesoresAntiguos}">
                                            <td th:text="${#temporals.format(profesor.fechaAlta, 'yyyy/MM/dd')}"></td>
                                            <td th:text="${#temporals.format(profesor.fechaBaja, 'yyyy/MM/dd')}"></td>
                                            <td th:text="${profesor.id}"></td>
                                            <td th:text="${profesor.apellidos}"></td>
                                            <td th:text="${profesor.nombre}"></td>
                                            <td th:text="${profesor.telefono}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
